/*img{
    width: 20%;
}


.efectoUno:hover{
    filter: blur(3px);
}

.efectoDos:hover{
    filter: invert(100%);
}

.efectoTres:hover{
    filter: saturate(3);
}*/

div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
}

form{
    display: flex;
    flex-direction: column;
    width: 30%;
}

label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
}


input[type=text],input[type=email],input[type=password]{
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

textarea{
    padding: 10px 0;
    width: 100%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    resize: vertical;
}