*{
    margin: 0;
    padding: 0;
}

/*div{
    background-color: aqua;
}

/*Media Queries */

/*@media(max-width:1110px){
    div{
        background-color: green;
    }
}

@media(min-width:800px){
    div{
        background-color: red;
    }
}*/

/*Combinacion de medias querie*/
/*
@media(min-width: 800px) and (max-width: 1200px){
    div{
        background-color: green;
    }
}*/

/*Horientacion de la pantalla*/
/*
@media (orientation:landscape){
    div{
        background-color: blanchedalmond;
    }
}


@media (orientation:portrait){
    div{
        background-color: brown;
    }
}*/
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
    color: balck;
}

nav>a{
    margin-left: 15px;
}

.hamburguesa{
    color: black;
    display: none;
    cursor: pointer;
    font-size: 32px;
}

.aboutimg{
    width: 30%;
}


.contenedorImgTexto{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contenedorTextoAbout{
    width: 40%;
    margin-left: 3.5rem;
}

@media(max-width: 500px){
    nav,div{
        display: none;
    }

    .hamburguesa{
        display: block;
    }

    .contenedorImgTexto{
        flex-wrap: wrap;
    }
    /* header{
        flex-direction: column;
    }
    nav{
        display: flex;
        flex-direction: column;
    }*/
}

.contenedorHero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background:linear-gradient(59deg, rgba(63,68,98,0.4) 2%, rgba(62,5,16,0.4) 83%), url(./Imagen2.jpg);
    background-size: cover;
    background-position: center center;
}

.tituloHero{
    font-size: 4rem;
    text-transform: uppercase;
    color: white;
    padding: 1.5rem 0;
    text-align: center;
}

.textoHero{
    font-size: 1rem;
    color: white;
    max-width: 50%;
    text-align: center;
    padding-bottom: 2rem;
}

.btnHero{
    padding: 0.9rem 1.6rem;
    border: 1px solid white;
    color: transparent;
    font-size: 4rem;
    text-transform: uppercase;
    cursor: pointer;
}

.servicios{
    background-color: #F0F4F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorServicios{
    display: flex;
    width: 70%;
}

.contenedorTextoServicios{
    margin-left: 1rem;
}

.colorIcono{
    font-size: 1.5rem;
    background-color: #2BACB9;
    padding: 15px;
    height: 30px;
    color: #064E52;
}


.btnAbout{
    background-color: #2EABBB;
    font-size: 1rem;
    color: white;
    letter-spacing: 0.5rem;
    padding: 5px;
    text-transform: uppercase;
    border: 1px solid #2EABBB;
}

.textoPrincipal{
    text-align: center;
    text-transform: uppercase;  
    padding: 50px 0px;
    letter-spacing: 0.5rem;
    font-size: 2.8rem;
}

span{
    color: #2EABBB;
}

.about{
    padding-bottom: 3.5rem;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
}

img{
    width: 25%;
}

@media (max-width:900px){
    img{
        flex-basis: 50%;
    }
}

@media (max-width:500px){
    img{
        flex-basis: 100%;
    }
}

/*button.hover{
    background: transparent;
    color: transparent;
    border-color: red;
}*/